/*----------
   GENERAL RULES
----------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Roboto";
}

body{
    background-color: #F6F8F9 ;
   
}

ul{
    list-style: none;
    display: inline-block;
}

/*----------
     LOGO RULES
------------*/

header{
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 40px;

}

.logo{
    vertical-align: middle;
}


h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/*---------
  MAIN RULES
  ------*/

main{
    width:800px;
    background-color:#ffffff;
    margin: 0 auto;
    border-radius: 5px;
}

/*----------
  BUTTON SECTION
  --------*/
 .add{
    padding:10px 0 10px 50px;
    border: 1px solid #F6F8F9 ;
    
 } 

  .btn{
    background: transparent;
    border: 1px solid;
    padding: 5px 13px;
    border-radius: 8px;
  }

  .task{
    background-color:#14AAF5 ;
    color: #ffffff;
    border-color: #14AAF5;
  }
 .sect{
    background-color:#ffffff;
    color:#C4CBD0;
    border-color:#C4CBD0;
 }

 /*--------
  HEADER LIST RULES
  -----*/
  
  .list_header{
    padding: 30px 0 10px 50px;
  }
  .title{
    display: inline-block;
    color:#434851;
  }

  /*-----
   TASKLIST RULES
   ----*/

   .task_list{
    padding: 0 0 0 50px;
   }

   .cilcle{
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border: 1px solid;
    border-radius: 100%;
    font-size: 12px;
   }
    
   .tg{
       display: inline-block;
       font-size: 12px;
       color: #ffffff;
       text-align: center;
       padding: 6px 10px;
       border-radius: 12px;
   }

   .check{
    color: green;
   }

   .tg_blue{
    background-color: #14AAF5;
   }
